body {
    background-image: url('https://orig00.deviantart.net/4974/f/2010/327/f/2/smw_animated_cave_background_by_ribozurai-d33giex.gif');
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
}

h2 {
    color: #666;
    font-family: monospace;
    text-align: center;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.actor {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red; /* Mario's color */
    bottom: 0;
    left: 50px;
}

.coin {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #d4af37; /* Coin color */
    top: 100px;
    left: 200px;
}